<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Seoul5.Algo.model.dao.ProblemDao">
 
	<!-- 번호로 문제 조회   -->
	<select id="searchByNum" parameterType="int" resultType="Problem">
		SELECT *
		FROM Problem
		WHERE pNum = #{pNum}
	</select>
	
	
	<!-- 문제 디비에 넣기  -->
	<insert id="insertProblem" parameterType="Problem">
		INSERT INTO Problem
		VALUES(#{pNum}, #{algo})
	</insert>
	
	<!--  문제 수정, 번호는 수정불가 내용만 바꿀 수 있음  -->
	<update id="updateProblem" parameterType="Problem">
		UPDATE Problem
		SET algo=#{algo}
		WHERE pNum = #{pNum} 
	</update>	 
	
	
	<!-- 검색어로 문제 조회 , 일단 알고리즘으로 조회하도록 설정  -->
	<select id="selectByCondition" parameterType="SearchCondition" resultType="Problem">
		SELECT *
		FROM Problem
		WHERE algo like concat('%', #{word}, '%') 
	</select>
	
</mapper>